{:paths   ["src"]

 :deps    {org.clojure/clojure       {:mvn/version "1.10.0"}
           org.clojure/clojurescript {:mvn/version "1.10.764"}
           thheller/shadow-cljs      {:mvn/version "2.11.18"}
           clj-http/clj-http         {:mvn/version "3.10.3"}
           reagent/reagent           {:mvn/version "1.0.0-alpha2"}
           cljfx/cljfx               {:mvn/version "1.7.13"}
           cljfx/css                 {:mvn/version "1.1.0"}
           aleph/aleph               {:mvn/version "0.4.6"}
           compojure/compojure       {:mvn/version "1.6.2"}
           haslett/haslett           {:mvn/version "0.1.6"}}

 :aliases {}}