{:builds   {:view1 {:asset-path ".",
                    :modules    {:main {:init-fn chaussette.view1/init}},
                    :output-dir "resources/public/view1",
                    :target     :browser}},
 :deps     true,
 :dev-http {8080 "resources/public/"},
 :nrepl    {:port 8777}}
