{:builds {:c1 {:asset-path "..",
               :modules {:main {:init-fn app.c1/init}},
               :output-dir "target/c1",
               :target :browser}},
 :deps true,
 :dev-http {8080 "target/"},
 :nrepl {:port 8777}}
